/*--------------------*/
/* EXTENDABLE CLASSES */
/*--------------------*/
/* line 221, ../sass/blocks/_mixins.scss */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 230, ../sass/blocks/_mixins.scss */
.verticalAlign {
  display: inline-block;
  vertical-align: middle;
}
/* line 234, ../sass/blocks/_mixins.scss */
.verticalAlign + span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 1, ../sass/blocks/_modal.scss */
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(250, 250, 250, 0.9);
  z-index: 50;
  text-align: center;
  display: none;
}

/* line 13, ../sass/blocks/_modal.scss */
.modal-content {
  max-width: 600px;
  display: inline-block;
  margin: 10% auto 0;
  padding: 20px;
}

/* line 21, ../sass/blocks/_modal.scss */
.modal-block {
  border: 1px solid #eee;
  display: inline-block;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-top: 3px solid #00c8a7;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
}
/* line 33, ../sass/blocks/_modal.scss */
.modal-block h4 {
  margin-top: 10px;
}
/* line 37, ../sass/blocks/_modal.scss */
.modal-block #close-modal {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #999;
}
/* line 46, ../sass/blocks/_modal.scss */
.modal-block #close-modal:hover {
  color: #00c8a7;
}

/* line 1, ../sass/blocks/_main.scss */
html {
  padding: 0;
}

/* line 5, ../sass/blocks/_main.scss */
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fafafa;
}

/* line 13, ../sass/blocks/_main.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/blocks/_main.scss */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 24, ../sass/blocks/_main.scss */
input {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ddd;
}

/* line 1, ../sass/blocks/_buttons.scss */
.btn {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  color: #444;
  background: #ddd;
  text-decoration: none;
  border: none;
  border: 1px solid transparent;
}
/* line 11, ../sass/blocks/_buttons.scss */
.btn:hover {
  background: #ccc;
}

/* line 17, ../sass/blocks/_buttons.scss */
.btn-link {
  background: transparent;
  text-decoration: underline;
  color: #999;
  font-size: 12px;
}
/* line 23, ../sass/blocks/_buttons.scss */
.btn-link:hover {
  background: transparent;
  color: #00c8a7;
}

/* line 30, ../sass/blocks/_buttons.scss */
.btn-accent {
  background: #00c8a7;
  color: #fff;
}
/* line 34, ../sass/blocks/_buttons.scss */
.btn-accent:hover {
  background: #00957c;
}

/* line 40, ../sass/blocks/_buttons.scss */
.btn-accent-dark {
  background: #00957c;
  color: #fff;
}
/* line 44, ../sass/blocks/_buttons.scss */
.btn-accent-dark:hover {
  background: #006252;
}

/* line 49, ../sass/blocks/_buttons.scss */
.btn-alert {
  background: #f56849;
  color: #fff;
}
/* line 53, ../sass/blocks/_buttons.scss */
.btn-alert:hover {
  background: #f34018;
}

/* line 59, ../sass/blocks/_buttons.scss */
.btn-location {
  border-color: #00c8a7;
  background: transparent;
  color: #999;
  font-size: 12px;
}
/* line 65, ../sass/blocks/_buttons.scss */
.btn-location:hover {
  background: #00e2bc;
  color: #fff;
}

/* line 1, ../sass/blocks/_nav.scss */
nav.top-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
  text-align: center;
}
/* line 18, ../sass/blocks/_nav.scss */
nav.top-bar h4 {
  text-indent: -9999px;
}
/* line 22, ../sass/blocks/_nav.scss */
nav.top-bar .brand {
  display: inline-block;
  float: left;
  margin-top: 5px;
}
/* line 26, ../sass/blocks/_nav.scss */
nav.top-bar .brand img {
  height: 40px;
}
/* line 31, ../sass/blocks/_nav.scss */
nav.top-bar .top-bar-search {
  position: relative;
  display: inline-block;
}
/* line 36, ../sass/blocks/_nav.scss */
nav.top-bar .top-bar-search input {
  width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 30px;
}
/* line 42, ../sass/blocks/_nav.scss */
nav.top-bar .top-bar-search span {
  position: absolute;
  left: 10px;
  top: 10px;
}
/* line 50, ../sass/blocks/_nav.scss */
nav.top-bar .nav-menu {
  float: right;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 0;
}

/* line 1, ../sass/blocks/_home.scss */
.home-cta {
  vertical-align: center;
  text-align: center;
  padding: 20px;
  padding-top: 120px;
}
/* line 8, ../sass/blocks/_home.scss */
.home-cta h3 {
  font-weight: 300;
}
/* line 12, ../sass/blocks/_home.scss */
.home-cta form {
  padding: 40px 0;
}
/* line 16, ../sass/blocks/_home.scss */
.home-cta .advanced-search {
  display: block;
  font-size: 11px;
  margin-top: 90px;
  color: #BBB;
}

/* line 2, ../sass/blocks/_results.scss */
.result-container {
  background: #fafafa;
  position: relative;
  padding: 60px 20px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
/* line 10, ../sass/blocks/_results.scss */
.result-container h2 {
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
}

/* line 17, ../sass/blocks/_results.scss */
.result-header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

/* line 23, ../sass/blocks/_results.scss */
.result-header-action {
  display: block;
}

/* line 27, ../sass/blocks/_results.scss */
.result-grid {
  margin: 0 -10px;
}

/* line 31, ../sass/blocks/_results.scss */
.result-wrapper {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 480px) {
  /* line 39, ../sass/blocks/_results.scss */
  .result-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  /* line 46, ../sass/blocks/_results.scss */
  .result-wrapper {
    width: 33%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 54, ../sass/blocks/_results.scss */
  .result-container h2 {
    font-size: 18px;
  }
}
/* line 2, ../sass/blocks/_result-item.scss */
.result-item {
  border: 1px solid #eee;
  background: #fff;
  box-sizing: border-box;
  border-top: 3px solid #00c8a7;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(158, 158, 158, 0.2);
}
/* line 11, ../sass/blocks/_result-item.scss */
.result-item:hover {
  border-right-color: #ddd;
  border-left-color: #ddd;
  border-bottom-color: #ddd;
}

/* line 25, ../sass/blocks/_result-item.scss */
.result-image {
  overflow: hidden;
}
/* line 28, ../sass/blocks/_result-item.scss */
.result-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 39, ../sass/blocks/_result-item.scss */
.result-block {
  padding: 10px;
  border-top: 2px solid #eee;
}
/* line 43, ../sass/blocks/_result-item.scss */
.result-block h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 5px 10px 15px;
  color: #444;
}
/* line 50, ../sass/blocks/_result-item.scss */
.result-block hgroup {
  border-top: 1px dotted #ddd;
}
/* line 54, ../sass/blocks/_result-item.scss */
.result-block hgroup h4 {
  font-size: 14px;
  margin: 10px 0 0;
}
/* line 59, ../sass/blocks/_result-item.scss */
.result-block hgroup p {
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
  color: #999;
}
/* line 68, ../sass/blocks/_result-item.scss */
.result-block form {
  padding: 15px 0;
  border-top: 1px dotted #ddd;
}
/* line 73, ../sass/blocks/_result-item.scss */
.result-block label {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

/* line 82, ../sass/blocks/_result-item.scss */
.result-block.result-highlight {
  background: #F89079;
  border-color: #f34018;
  border-top: none;
}
/* line 87, ../sass/blocks/_result-item.scss */
.result-block.result-highlight h2 {
  color: #fff;
}
/* line 93, ../sass/blocks/_result-item.scss */
.result-block.result-highlight:hover h4 {
  color: #f34018;
}
/* line 98, ../sass/blocks/_result-item.scss */
.result-block.result-highlight hgroup, .result-block.result-highlight form {
  border-color: #f34018;
}
/* line 102, ../sass/blocks/_result-item.scss */
.result-block.result-highlight label {
  color: #fff;
}
/* line 107, ../sass/blocks/_result-item.scss */
.result-block.result-highlight .result-material-item h4 {
  color: #fff;
}
/* line 111, ../sass/blocks/_result-item.scss */
.result-block.result-highlight .result-material-item p {
  color: #fff;
}
/* line 115, ../sass/blocks/_result-item.scss */
.result-block.result-highlight .result-material-item span {
  color: #95ffee;
}

/* line 121, ../sass/blocks/_result-item.scss */
.result-material-item {
  padding: 0 10px;
  position: relative;
}
/* line 124, ../sass/blocks/_result-item.scss */
.result-material-item a {
  text-decoration: none;
  line-height: 40px;
  display: block;
  border-top: 1px dotted #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 133, ../sass/blocks/_result-item.scss */
.result-material-item a:hover h4 {
  color: #00c8a7;
}
/* line 139, ../sass/blocks/_result-item.scss */
.result-material-item h4 {
  color: #444;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
/* line 146, ../sass/blocks/_result-item.scss */
.result-material-item p {
  color: #999;
}
/* line 150, ../sass/blocks/_result-item.scss */
.result-material-item span {
  color: #cccccc;
  display: block;
  position: absolute;
  right: 10px;
  top: 0px;
  line-height: 44px;
  cursor: help;
  z-index: 5;
}
/* line 159, ../sass/blocks/_result-item.scss */
.result-material-item span:hover {
  color: #00c8a7;
}

/* line 168, ../sass/blocks/_result-item.scss */
.result-where h2 {
  font-size: 12px;
}

/* line 173, ../sass/blocks/_result-item.scss */
.result-where-item {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 179, ../sass/blocks/_result-item.scss */
.result-where-item a {
  display: block;
  text-decoration: none;
  color: #444;
}
/* line 183, ../sass/blocks/_result-item.scss */
.result-where-item a:hover {
  color: #00c8a7;
}
/* line 188, ../sass/blocks/_result-item.scss */
.result-where-item .result-where-item-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 0;
  line-height: 40px;
}
/* line 196, ../sass/blocks/_result-item.scss */
.result-where-item .result-where-item-icon i {
  line-height: 40px;
}
/* line 201, ../sass/blocks/_result-item.scss */
.result-where-item hgroup {
  display: block;
  padding-left: 30px;
}
/* line 206, ../sass/blocks/_result-item.scss */
.result-where-item hgroup h4 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}
/* line 212, ../sass/blocks/_result-item.scss */
.result-where-item hgroup p {
  font-size: 11px;
  font-weight: 300;
  margin-top: 5px;
  color: #999;
  line-height: 14px;
  font-style: italic;
}

/* line 226, ../sass/blocks/_result-item.scss */
.result-why {
  padding-top: 20px;
}
/* line 229, ../sass/blocks/_result-item.scss */
.result-why h4 {
  font-size: 12px;
  font-weight: 400;
  padding: 0 10px;
  margin: 0;
}
/* line 235, ../sass/blocks/_result-item.scss */
.result-why h4 span {
  font-size: 20px;
  font-weight: 600;
}
/* line 241, ../sass/blocks/_result-item.scss */
.result-why a {
  text-align: center;
}

/* line 2, ../sass/blocks/_sidebar.scss */
.side-content {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  background: #ddd;
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  /* line 12, ../sass/blocks/_sidebar.scss */
  .side-content {
    width: 20%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 80%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 60px 20px 20px;
  }
}
/* line 2, ../sass/blocks/_materials.scss */
.plastico {
  border-top-color: #F7DA01;
}

/* line 6, ../sass/blocks/_materials.scss */
.tetra-brik {
  border-top-color: #8CD9CF;
}

/* line 10, ../sass/blocks/_materials.scss */
.carton-y-papel {
  border-top-color: #1775C6;
}

/* line 14, ../sass/blocks/_materials.scss */
.vidrio {
  border-top-color: #8DD107;
}

/* line 18, ../sass/blocks/_materials.scss */
.metales {
  border-top-color: #A59C8D;
}

/* line 22, ../sass/blocks/_materials.scss */
.tapitas {
  border-top-color: #F95C02;
}

/* line 26, ../sass/blocks/_materials.scss */
.pilas {
  border-top-color: #D64D03;
}

/* line 30, ../sass/blocks/_materials.scss */
.pilas-recargables {
  border-top-color: #FFAC70;
}

/* line 34, ../sass/blocks/_materials.scss */
.neumaticos {
  border-top-color: #5D5953;
}

/* line 38, ../sass/blocks/_materials.scss */
.raee {
  border-top-color: #E0D9C7;
}

/* line 42, ../sass/blocks/_materials.scss */
.bronce {
  border-top-color: #CB9700;
}

/* line 46, ../sass/blocks/_materials.scss */
.textiles {
  border-top-color: #B533B1;
}

/* line 50, ../sass/blocks/_materials.scss */
.aceite {
  border-top-color: #D5DE00;
}

/* line 54, ../sass/blocks/_materials.scss */
.organicos {
  border-top-color: #735B24;
}

/* line 58, ../sass/blocks/_materials.scss */
.recoleccion {
  border-top-color: #FCA800;
}

/* line 62, ../sass/blocks/_materials.scss */
.basura {
  border-top-color: #666666;
}

/* line 66, ../sass/blocks/_materials.scss */
.alert {
  border-top-color: #F89079;
}

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
/* line 9, ../sass/blocks/_tooltipster.scss */
.tooltipster-default {
  border-radius: 5px;
  background: #00c8a7;
  color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
/* line 17, ../sass/blocks/_tooltipster.scss */
.tooltipster-default .tooltipster-content {
  font-size: 12px;
  line-height: 18px;
  padding: 8px 10px;
  overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
/* line 25, ../sass/blocks/_tooltipster.scss */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
  /* border-color: ... !important; */
}

/* If you're using the icon option, use this next selector to style them */
/* line 31, ../sass/blocks/_tooltipster.scss */
.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}

/* This is the base styling required to make all Tooltipsters work */
/* line 44, ../sass/blocks/_tooltipster.scss */
.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible;
}

/* line 56, ../sass/blocks/_tooltipster.scss */
.tooltipster-base .tooltipster-content {
  overflow: hidden;
}

/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
/* line 62, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 72, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

/* line 78, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px;
}

/* line 84, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px;
}

/* line 91, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px;
}

/* line 97, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px;
}

/* line 103, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 108, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px;
}

/* line 111, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}

/* line 114, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
  right: 6px;
}

/* line 117, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}

/* line 120, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px;
}

/* line 128, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px;
}

/* line 134, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px;
}

/* line 142, ../sass/blocks/_tooltipster.scss */
.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px;
}

/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */
/* line 152, ../sass/blocks/_tooltipster.scss */
.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

/* line 160, ../sass/blocks/_tooltipster.scss */
.tooltipster-fade-show {
  opacity: 1;
}

/* line 164, ../sass/blocks/_tooltipster.scss */
.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}

/* line 177, ../sass/blocks/_tooltipster.scss */
.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

/* line 191, ../sass/blocks/_tooltipster.scss */
.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}

/* line 204, ../sass/blocks/_tooltipster.scss */
.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
}

/* line 219, ../sass/blocks/_tooltipster.scss */
.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

/* line 235, ../sass/blocks/_tooltipster.scss */
.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0px !important;
  opacity: 0;
}

/* line 245, ../sass/blocks/_tooltipster.scss */
.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

/* line 261, ../sass/blocks/_tooltipster.scss */
.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0px !important;
  opacity: 0;
}

/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
/* line 273, ../sass/blocks/_tooltipster.scss */
.tooltipster-content-changing {
  opacity: 0.5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
