.home-cta {
	vertical-align: center;
	text-align: center;
	padding-top: 120px;

	h3{
		font-weight: 300;
	}

	form{
		padding: 40px 0;
	}

	.advanced-search{
		display: block;
		font-size: 12px;
		margin-top: 40px;
		color: #999;
	}
}