
.plastico {
	border-top-color: $plastico;
}

.tetra-brik {
	border-top-color: $tetra-brik;
}

.carton-y-papel {
	border-top-color: $carton-y-papel;
}

.vidrio {
	border-top-color: $vidrio;
}

.metales {
	border-top-color: $metales;
}

.tapitas {
	border-top-color: $tapitas;
}

.pilas {
	border-top-color: $pilas;
}

.pilas-recargables{
	border-top-color: $pilas-recargables;
}

.neumaticos {
	border-top-color: $neumaticos;
}

.raee {
	border-top-color: $raee;
}

.bronce {
	border-top-color: $bronce;
}

.textiles{
	border-top-color: $textiles;
}

.aceite {
	border-top-color: $aceite;
}

.organicos {
	border-top-color: $organicos;
}

.recoleccion {
	border-top-color: $recoleccion;
}

.basura {
	border-top-color: $basura;
}

.alert {
	border-top-color: $alert-color;
}