
.result-container {
	background: #fafafa;
	position: relative;
	padding: 60px 20px 20px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;

	h2{
		font-weight: 300;
		font-size: 16px;
		display: inline-block;
	}
}

.result-header{
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.result-header-action {
	display: block;
}

.result-grid{
	margin: 0 -10px;
}

.result-wrapper {
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
}


@include min-screen(480px){
	.result-wrapper {
		width: 50%;
	}
}


@include min-screen(768px){
	.result-wrapper {
		width: 33%;
	}

	.result-header{
		text-align: left;
	}

	.result-header-action {
		float: right;
		margin-top: 8px;
	}
}


@include min-screen(1024px){
	.result-container {
		width:80%;
		height: 100vh;
		position: absolute;
		top:0;
		overflow: hidden;
		overflow-y: scroll;

		h2{
			font-size: 18px;
		}
	}
}

// @include min-screen(1280px){
// 	.result-wrapper {
// 		width: 25%;
// 	}
// }