
.result-container {
	position: relative;
	padding: 60px 20px 20px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;

	h2{
		font-weight: 300;
		font-size: 16px;
		display: inline-block;
	}
}

.result-header{
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.result-header-action {
	display: block;
}

.result-grid{
	margin: 0 -10px;
}

.result-wrapper {
	padding: 30px 10px;
	box-sizing: border-box;
	width: 100%;
}

.side-content {
		.result-wrapper{
			width:100%;
		}
	}

.box-description{
	max-width: 200px;
	display: inline-block;
	position: absolute;
	top: 10px;
	right: -220px;
}

// @include min-screen(480px){
// 	.result-wrapper {
// 		width: 50%;
// 	}
// }


// @include min-screen(768px){
// 	.result-wrapper {
// 		width: 33%;

// 		h2{
// 			font-size: 18px;
// 		}
// 	}


// 	.result-wrapper-sizer{
// 		width:25%;
// 	}

// 	.result-wrapper-double {
// 		width: 66%;
// 	}
// }


// @include min-screen(1024px){
// 	.result-container {
// 		h2{
// 			font-size: 24px;
// 		}
// 	}
// }


//	FOR SIDEBAR

// @include min-screen(1024px){
// 	.result-container {
// 		width:80%;
// 		height: 100vh;
// 		position: absolute;
// 		top:0;
// 		overflow: hidden;
// 		overflow-y: scroll;

// 		h2{
// 			font-size: 18px;
// 		}
// 	}
// }

// @include min-screen(1280px){
// 	.result-wrapper {
// 		width: 25%;
// 	}
// }