// COLORS

$accent-color: #00c8a7;

$text-color: #444;
$text-color-dark: #111;
$text-color-light: #999;

$alert-color: #F89079;


// MATERIALS COLORS

$plastico: #F7DA01;
$tetra-brik: #8CD9CF;
$carton-y-papel: #1775C6;
$vidrio: #8DD107;
$metales: #A59C8D;
$tapitas: #F95C02;
$pilas: #D64D03;
$pilas-recargables: #FFAC70;
$neumaticos: #5D5953;
$raee: #E0D9C7;
$bronce: #CB9700;
$textiles: #B533B1;
$aceite: #D5DE00;
$telgopor: #FFE399;
$organicos: #735B24;
$recoleccion: #FCA800;
$basura: #666666;


